# Ignore other directories irrelevant to the Docker build
.devcontainer/
.github/
.vscode/
.venv/
images/
src/mcp_wordle/__pycache__
.ruff_cache/

# Ignore Docker-related files
Dockerfile*
.dockerignore

# OS-specific files
.DS_Store
Thumbs.db

.git
.gitignore
.gitattributes
